main > div {
  /* border: solid thin; */

  /* height: 20em; */
  width: 70%;
  margin: auto;
  margin-top: 10%;
}

#screen {
  height: 1em;
  background-color: #999;
  text-align: right;
  padding: 1em;
}

button {
  border: solid thin #fff;
}

#keypad-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#zero {
  grid-column: span 2;
}

.numbers,
.operators {
  border-radius: 0;
  padding: 10% 20%;
  background-color: #eee;
}

.right {
  background-color: #f94;
}
